.services
    display: flex
    flex-direction: column
.link-list
    li
        display block
        margin 0.6rem 0rem
        cursor pointer
        a
            cursor pointer
            background: #000000
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;    
            transition: background-color 500ms
            &:hover,&:focus,&:active
                background #FF512F
                background -webkit-linear-gradient(to left, #F09819, #FF512F)
                background linear-gradient(to left, #F09819, #FF512F)    
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;