body
    background #FF512F
    background -webkit-linear-gradient(to left, #F09819, #FF512F)
    background linear-gradient(to left, #F09819, #FF512F)
.padding-wrapper
    padding: 1vw
    width 100vw
    height 100vh
    box-sizing border-box