body
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Space Mono', monospace
    min-height 100vh !important
.padding-wrapper
    padding: 1vw
    display: grid
    margin: 0 auto
    max-width 100vw
    min-height 100vh !important
    box-sizing border-box
    overflow-x: hidden
.list
    padding: 2rem 0
    display: flex
    flex-wrap: wrap
.link-list
    padding: 2rem 4rem
    box-sizing border-box
