body
    background #FF512F
    background -webkit-linear-gradient(to left, #F09819, #FF512F)
    background linear-gradient(to left, #F09819, #FF512F)
    font-family: 'Space Mono', monospace
.padding-wrapper
    padding: 1vw
    width 100vw
    height 100vh
    box-sizing border-box
.list
    padding: 2rem 0
    display: flex
.link-list
    padding: 2rem 4rem