header 
 width 100%
 height 100%
 background-color white
 box-sizing: border-box
 border-radius: 2rem
 padding: 2rem
 .title
     font-family: 'Saira Stencil One', cursive
     font-size: 10vw
     display block
     text-align: center
     background #FF512F
     background -webkit-linear-gradient(to left, #F09819, #FF512F)
     background linear-gradient(to left, #F09819, #FF512F)
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
