header 
 width 100%
 height 100%
 background-color white
 box-sizing: border-box
 display: flex
 flex-direction: column
 justify-content: center
 border-radius: 2rem
 padding: 2rem
 .title
     font-family: 'Saira Stencil One', cursive
     font-size: 10vw
     display block
     text-align: center
     background: linear-gradient(270deg, #89e1ca, #89e19c, #cfe189, #e1c089, #e18e89, #e189bb, #bd89e1, #898fe1, #89c5e1);
     background-size: 1800% 1800%;
     text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
     -webkit-background-clip: text;
     -moz-background-clip: text;
     background-clip: text;
     -webkit-animation: BackgroundAnimation 50s ease infinite;
     -moz-animation: BackgroundAnimation 50s ease infinite;
     animation: BackgroundAnimation 50s ease infinite;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
.description
    margin-top 4rem
    font-size: 2.2rem
    display block
    text-align: center
    background #FF512F
    background -webkit-linear-gradient(to left, #F09819, #FF512F)
    background linear-gradient(to left, #F09819, #FF512F)
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
.services_title
    font-weight: bold

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}